
/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilo de texto/fuente */

body{
    font-family: 'Dosis', sans-serif;
}

/* Header */

header{
    background-color: rgb(126, 16, 16);
    position: sticky;
    top: 0;
}

header label div{
    width: 100%;
}

.brand img{
    width: 250px;
    height: auto;
    margin: auto;
    padding: 0;
    display: block;
}

header nav ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}

header nav ul li{
    margin: 10px;
    padding: 5px;
    background-color: rgb(98, 12, 12);
    border-radius: 30px;
    color: rgb(212, 210, 210);
}

header nav ul li a{
    text-decoration: none;
    color: rgb(212, 210, 210);
}

/* Body */

body{
    background-color: rgb(212, 210, 210);
}

h1{
    text-decoration: underline;
    text-transform: uppercase;
    margin: 15px;
    text-align: center;
}

.foto{
    display: flex;
}

div img{
    width: 600px;
    height: auto;
    margin: auto;
    padding: 20px;
    justify-content: center;
    border-radius: 40px;
}

.logo{
    display: flex;
    width: 700px;
    height: auto;
    margin: auto;
    padding: 20px;
    justify-content: center;
}

.orden-presupuesto li a{
    text-decoration: none;
    color: black;
}

/* sector contenido de presupuesto */

.presupuesto{
    display: flex;
    justify-content: space-evenly;
}

.img-presupuesto{
    width: 48%;
}

.contenido-presupuesto{
    width: 48%;
}

.contenido-presupuesto h2{
    margin-bottom: 15px;
}

.contenido-presupuesto h2 span{
    background: rgb(120, 15, 15);
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    margin-right: 5px;
}

.contenido-presupuesto p{
    padding: 0 30px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* boton contacto */

button a{
    color: rgb(128, 113, 113);
    text-decoration: none;
}

.cta{
    display: flex;
    align-items: center;
    color: rgb(253, 253, 253);
    background: none;
    border: none;
    padding: 12px 18px;
    position: relative;
}

.cta::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(calc(100% + 4px));
    width: 45px;
    height: 45px;
    background: rgb(60, 3, 3);
    border-radius: 50px;
    transition: transform .25s .25s cubic-bezier(0, 0, .5, 2), width .25s cubic-bezier(0, 0, .5, 2);
    z-index: -1;
}

.cta:hover::before{
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition: transform .25s .4s cubic-bezier(0, 0, .5, 2), width .25s .25s cubic-bezier(0, 0, .5, 2);
}

.cta i{
    margin-left: 5px;
    transition: transform .25s .4s cubic-bezier(0, 0, .5, 2);
}

.cta:hover i{
    transform: translateX(3px);
}